:root { 
--blue_gray_100:#d9d9d9; 
--gray_800:#3a3837; 
--light_blue_600:#0d9be0; 
--yellow_50:#fff5eb; 
--gray_800_01:#4c4a4a; 
--black_900_3f:#0000003f; 
--orange_300:#ffb957; 
--gray_100:#f6f7f2; 
--black_900:#000000; 
--deep_orange_800:#c94c26; 
--blue_gray_800:#1f4c6b; 
--blue_100:#caeaff; 
--white_A700:#ffffff; 
--blue_100_00:#c9ebff00; 
}